/* Write your CSS here */
.header-footer-container {
  background-color: #cbd5e1;
  flex-grow: 1;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px;
}
